*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Soleil",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.global-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    transition: all 0.5s;
}

.global-header .top-level-nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 50px;
}

.global-header .top-level-nav li {
    display: inline-block;
    margin-left: 28px;
    padding-bottom: 22px;
    position: relative;
}

p, ul, ol, table {
    font-family: "Soleil",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 21px;
}

li {
    text-align: -webkit-match-parent;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.global-header .top-level-nav li> a {
    font-family: "Soleil_Bold",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.global-header .top-level-nav .arrow {
    display: inline-block;
    border-top: 4px solid #000;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-left: 5px;
    transition: .2s transform ease-in-out;
    vertical-align: middle;
}

.global-header .sub-nav {
    background: #FCFCFC;
    border-radius: 5px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    left: -120px;
    opacity: 0;
    padding: 16px;
    position: absolute;
    top: 100%;
    transition: .1s all ease-in-out;
    visibility: hidden;
    width: 628px;
}

.global-header .sub-nav .sub-nav-box {
    background: #FAFAFA;
    border-radius: 3px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin: 4px 0;
    min-height: 100px;
    padding: 24px 14px 24px 96px;
    position: relative;
    transition: .1s all ease-in-out;
}

.global-header .sub-nav .sub-nav-col.left {
    margin-right: 4px;
}

.global-header .sub-nav .sub-nav-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.global-header .sub-nav .plans {
   
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 64px;
    left: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
}

.global-header .sub-nav .sub-nav-box h4 {
    font-family: "Soleil_Medium",Helvetica,Arial,sans-serif;
    color: #00a82d;
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 16px;
    margin: 0 0 .5em;
    padding: 0;
    text-transform: uppercase;
}

.global-header .sub-nav .sub-nav-box p {
    font-family: "Soleil_Light",Helvetica,Arial,sans-serif;
    color: #808080;
    line-height: 16px;
    width: 100%;
    word-wrap: break-word;
}

.global-header .sub-nav::after {
    bottom: 100%;
    left: 140px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(252,252,252,0);
    border-bottom-color: #FCFCFC;
    border-width: 20px;
    border-radius: 2px;
    margin-left: -20px;
}

.global-header .top-level-nav li:hover>.sub-nav {
    opacity: 1;
    visibility: visible
}

a:hover, a:focus {
    color: #00A82D;
    transition: .1s color ease-in-out;
}

.global-header .sub-nav .sub-nav-box:hover {
    background-color: #00a82d;
}

.global-header .sub-nav .sub-nav-box:hover h4, .global-header .sub-nav .sub-nav-box:hover p {
    color: #fff;
}

.sub-nav-box{
  text-decoration: none;
}

.nonlinked{
  cursor: pointer;
}

.global-header .utility-nav, .global-header .business-nav {
    display: inline-block;
    margin-left: auto;
}

}
.global-header .utility-nav li, .global-header .business-nav li {
    font-family: "Soleil",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    vertical-align: middle;
}

}
.global-header .utility-nav li a:link, .global-header .utility-nav li a:visited, .global-header .business-nav li a:link, .global-header .business-nav li a:visited {
    color: #00a82d;
}

.global-header .utility-nav a, .global-header .business-nav a {
    padding-bottom: 2px;
}

.global-header .button-outline, .global-header a:link.button-outline, .global-header a:visited.button-outline {
    font-family: "Soleil_Bold",Helvetica,Arial,sans-serif;
    display: inline-block;
    height: 40px;
    min-width: 120px;
    font-size: 14px;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px;
    color: #00a82d;
    border-radius: 3px;
    border: 2px solid #00a82d;
    padding: 0 10px;
    transition: .3s border ease-in-out, .3s color ease-in-out;
    -webkit-font-smoothing: antialiased;
}

.global-header a:link, .global-header a:visited {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    transition: .1s color ease-in-out;
}

}
.top .global-header {
    background: #fff;
    z-index: 997;
}